<a href="https://colab.research.google.com/github/mamud1977/bootup/blob/main/python_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Important Python Functions

1. map function
2. reduce function
3. lambda function
4. filter function

## map function

In [6]:
v_list = [0,1,2,3,4,10,5,8,9,6,7]

def square(x):
    return x**2

squared_vals = map(square,v_list)

for i,s in enumerate(squared_vals):
    print(i,v_list[i],s)

0 0 0
1 1 1
2 2 4
3 3 9
4 4 16
5 10 100
6 5 25
7 8 64
8 9 81
9 6 36
10 7 49